@model IEnumerable<Repository.Common.TblChallenge>

@{
    ViewBag.Title = "Challenges";
}


<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section mt-4">
    <div class="page-title dark-background" data-aos="fade">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="current"> CTF Challenges</li>
                </ol>
            </nav>
            <h1>Challenges</h1>
        </div>
    </div><!-- End Page Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-3">
                    @if (String.IsNullOrEmpty(item.IMAGE_URL))
                    {
                        <img id="challenge_image" src="@Url.Content("~/Images/Icons/placeholder.png")" class="card-img-top" data-aos="fade-up" data-aos-delay="200" />
                    }
                    else
                    {
                        <img id="challenge_image" src="@item.IMAGE_URL" class="challenge-image" data-aos="flip-left" data-aos-delay="200" />
                    }
                <div class="portfolio-info" data-aos="fade-up" data-aos-delay="500">
                    <h3>@Html.DisplayFor(modelItem => item.NAME)</h3>
                    <ul>
                        @{
                            var label = "bg-success";
                            if (item.DIFFICULTY_LEVEL.ToLower() == "medium")
                            {
                                label = "bg-warning text-dark";
                            }
                            else if (item.DIFFICULTY_LEVEL.ToLower() == "hard")
                            {
                                label = "bg-danger";
                            }

                        }
                        <li><strong>Category</strong>: @Html.DisplayFor(modelItem => item.CATEGORY_NAME)</li>
                        <li><strong>Difficulty</strong>:<span class="badge @label"> @Html.DisplayFor(modelItem => item.DIFFICULTY_LEVEL)</span></li>
                        <li><strong>Created on</strong>: @Html.DisplayFor(modelItem => item.CREATE_TS)</li>
                        <li><strong>Author</strong> : @Html.DisplayFor(modelItem => item.CREATE_BY)</li>
                    </ul>
                    @Html.ActionLink("StartChallenge", "ChallengeDetail", "UserChallenge", new { route = @Html.Raw(CipherHunt.Library.StaticData.Encrypt("id=" + item.CHALLENGE_ID)) }, new { @class = "btn btn-sm btn-primary btn-round" })
                </div>
                </div>
            }
        </div>


    </div>

</section><!-- /Portfolio Details Section -->
