<div class="right-area">
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
       
    <div class="dropdown">
        <span>
            <i class="fa fa-shopping-cart" style="font-size:24px;"></i>
        </span>&nbsp;&nbsp;
        <a class="btn btn-lg btn-secondary dropdown-toggle btn-bg-none btn-round" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" style="font-size:20px"></i> <span>@CurrentUser.Name</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div style="padding:0px 20px;" class="center-text">
                <center>
                    <br />
                    <i class="fa fa-user-circle" style="font-size:80px"></i>
                    <br />
                </center>
                Member ID: @CurrentUser.ID<br />
                <span style="font-size:12px;color:#727171;">@CurrentUser.Email</span>
            </div>
            <hr />
            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Go to Dashboard</a>
            <a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i> Your Shopping Cart</a>
            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Your Transaction History</a>
            <hr />
            <div style="padding:0px 10px;" class="center-text">
                <a class="btn btn-danger" href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out"></i> Sign out</a>
            </div>
        </div>
    </div>
    }
    else
    {
        <h6>
            <a class="plr-20 color-white btn-fill-primary" href="@Url.Action("SignUp","Account")">Sign Up</a>
            <a class="plr-20 color-white btn-brdr-primary btn-login" href="@Url.Action("Login","Account")">Login</a>
        </h6>
    }
</div><!-- right-area -->