<ul>
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        @*<li><a href="@Url.Action("PlayerScoreBoard","Home")">Dashboard</a></li>*@
        <li><a href="@Url.Action("Index","UserChallenge")">Challenges</a></li>
        <li><a href="@Url.Action("PlayerScoreBoard","Home")">Scoreboard</a></li>
        <li><a href="@Url.Action("History","UserChallenge")">Challenges Solved</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
    }
    @Html.Partial("_Partial/_UserLogoutMenu")
</ul>

