@model CipherHunt.Models.ChangePasswordModel
@{
    ViewBag.Title = "Authenticaton";
    Layout = "~/Areas/Cpanel/Views/Shared/_PlainLayout.cshtml";
}
<style>   
    .box-card {
        padding: 50px 10px;
    }
</style>
<div class="container">
    <div class="box-card">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Hi @CurrentUser.Name,</b><br /><br/>
                                It seems this is your first time login to system or your password has been reset by admin.
                                Kindly update your password to continue.<br /><br/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, "Current password", new { @class = "" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, "New password", new { @class = "" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, "Retype new password", new { @class = "" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-success btn-round">Update</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
</div>
@section scripts{
    @if (ViewBag.Message != null)
    {
        <script>
            Alert("error",'@ViewBag.Message');
        </script>
    }
}