@model IEnumerable<Repository.Common.CPanelDetail>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <span class="form-title">Cpanel Users</span> <a href="@Url.Action("AddUser")" class="btn btn-success btn-round pull-right"><i class="nc-icon nc-simple-add"></i> Add New</a>
            <br /><br />
        </div>
    </div>
</div>
<div class="box-card">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group scrollbar table-responsive-md table-responsive-sm">
                <table class="table table-striped" id="tblList">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                User name
                            </th>
                            <th>
                                Staff name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Create By
                            </th>
                            <th>
                                Created on
                            </th>
                            <th>Lock Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var style = "";
                            var i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            if (item.isEnable == true)
                            {
                                style = "text-danger";
                            }
                            else
                            {
                                style = "";
                            }
                            <tr id="td_@Html.Raw(item.UNIQUEID)" class="@style">
                                <td>
                                    @i
                                </td>
                                <td>
                                    
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Create_By)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Create_TS)
                                </td>
                                <td>

                                    @if (item.Lock_Status == false)
                                    {
                                        <i class="fa fa-unlock text-success"></i> <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                        <i class="fa fa-lock text-danger"></i> <span>Locked</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("View", "EditUser", "CPanelUser", new { route = @Html.Raw(CipherHunt.Library.StaticData.Encrypt("id=" + item.UNIQUEID)) }, new { @class = "btn btn-sm btn-primary btn-round" })
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#tblList').DataTable();
    </script>
}