<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Partial/_Head")
    <link href="~/Content/Account/Register.css" rel="stylesheet" />
    <style>
        body {
            background: #252422 !important;
        }
    </style>
</head>
<body ng-app="Homeapp" ng-controller="ApplicationController" ng-init="AppConfig();">
    @Html.Partial("_Partial/_FbChatPlugin")
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <img width="100" height="70" src="@Url.Content("~/images/Logo/logo.png")" alt="Logo">
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
    </div>
    @Html.Partial("_Partial/_ImportJs")
    @Html.Partial("_Partial/_ImportAngular")
    <script>
        function Alert(type, msg) {
            toastify(type, msg, "Message", "toast-bottom-center", false);
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
